
/*
FONTS
font-family: 'Fira Sans Condensed', sans-serif;
*/

/* Colors from Betterment site:
Darker midnight blue #103359
midnight blue #17406b
snow #f9f9f9
*/


/*
Vanguard Colors
#efece3 linen
#96151d red nav
#8d4900 text brown
#003c69 midnight blue
#5c8033 dark olive green
#555555 dim gray
#666666 dim gray
*/

/*
Charles Schwab
#1aa9e2 - light blue
#33b3e5 - light blue
#005f83 - dark blue
*/

* {
  box-sizing: border-box;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 20px;
}

body {
  background: #fafafa;
  color: #383838;
  margin: 0 auto;
  max-width: 970px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

li {
  list-style: none;
  flex-direction: row;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin: 5px 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #e2ded3;
  background-color: #efece3;
  color: #8d4900;
  text-decoration: none;
}

.btn:hover {
  background-color: #e2ded3;
}

.name-container {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 162px;
  height: 40px;
  background-color: #96151d;
  color: white;
}

.nav-name {
  z-index: 9999;
  padding: 0 10px;
  font-size: 30px;
  text-decoration: none;
}

.nav-name:visited {
  color: inherit;
}

.nav-name:hover {
  background-color: white;
  padding-bottom: 5px;
  color: #96151d;
}

nav {
  position: fixed;
  top: 0;
  z-index: 9998;
  width: 100%;
  max-width: 970px;
  height: 40px;
  background-color: #96151d;
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  margin: 0px;
}

nav li a {
  padding: 8px 10px 7px 10px;
  color: white;
}

nav li a:hover {
  background-color: white;
  color: #96151d;
}

header {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 5px;
  height: 110px;
  text-align: center;
  background-color: #efece3;
  color: #773e00;
}

header h3 {
  margin: 5px 0px;
  font-weight: 400;
}

header h2 {
  margin: 5px 0px;
  font-weight: 400;
}

.header-name {
  margin: 0;
  display: none;
}

#about {
  min-height: 560px;
  background-color: #103359;
  color: white;
}

.about-text {
  margin: 0;
  padding: 20px 20px 20px 40px;
  max-width: 475px;
  line-height: 1.4;
}

.terry-photo {
  float: right;
  margin: 20px 40px 20px 10px;
  max-width: 45%;
  min-width: 250px;
  max-height: 520px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.25);
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  padding-left: 40px;
  color: #773e00;
}

#projects .section-title {
  padding-bottom: 40px;
  width: 100%;
  background-color: #efece3;
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fafafa;
  border-left: 1px solid #efece3;
  border-right: 1px solid #efece3;
}

.project {
  border-top: 1px solid #d6d3cb;
  margin-bottom: 150px;
}

.project-title {
  margin-top: 60px;
  text-align: center;
  font-size: 24px;
  text-shadow: 1px 1px 1px #d1d1d1;
}

.project-subtitle {
  float: left;
  margin: 0 auto;
  padding-left: 40px;
  width: 40%;
  min-width: 300px;
  font-weight: bold;
  line-height: 1.4;
}

.project-text {
  float: left;
  padding-left: 40px;
  width: 40%;
  min-width: 300px;
  line-height: 1.4;
}

.project-text-right {
  float: right;
  padding-right: 40px;
  width: 40%;
  min-width: 300px;
  line-height: 1.4;
}

.project-subtitle-right {
  float: right;
  clear: right;
  margin: 0 auto;
  padding-right: 40px;
  width: 40%;
  min-width: 300px;
  font-weight: bold;
  line-height: 1.4;
}

.img-right {
  margin: 5px 40px 5px 10px;
  max-width: 45%;
  float: right;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.img-left {
  margin: 0 10px 0 40px;
  max-width: 45%;
  float: left;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.text-link {
  color: inherit;
}

.text-link:hover {
  text-decoration: underline;
}

#contact {
  background-color: #efece3;
}

#contact ul {
  margin-bottom: 0;
  padding-bottom: 20px;
  line-height: 1.4;
}

#contact li a {
  color: #383838;
}

#contact li a:hover {
  background-color: white;
  color: #383838;
}

/*Settings for mobile*/
@media only screen and (max-width: 600px) {
  .name-container {
    display: none;
  }

  header {
    height: 140px;
  }

  .header-name {
    display: block;
  }

  #about {
    padding-top: 20px;
  }

  .about-text {
    padding-left: 20px;
    padding-top: 0;
    margin: 0 auto;
  }

  .terry-photo {
    display: block;
    float: none;
    margin: 20px auto;
    max-width: 90%;
  }

  .project-subtitle {
    float: none;
    margin: 10px auto;
    padding-left: 0;
  }

  .project-subtitle-right {
    float: none;
    padding: 0;
    margin: 10px auto;
  }

  .project-text-right {
    float: none;
    padding: 0;
    margin: 10px auto;
  }

  .project-text {
    float: none;
    margin: 10px auto;
    padding-left: 0;
  }

  .img-right {
    float: none;
    display: block;
    margin: 10px auto;
    max-width: 90%;
  }

  .img-left {
    float: none;
    display: block;
    margin: 10px auto;
    max-width: 90%;
  }
}
