
/*
FONTS
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Fira Sans', sans-serif;
*/

/* Colors from Betterment site:
Darker midnight blue #103359
midnight blue #17406b
snow #f9f9f9
*/


/*
Vanguard Colors
#efece3 linen
#96151d red nav
#8d4900 text brown
#003c69 midnight blue
#5c8033 dark olive green
#555555 dim gray
#666666 dim gray
*/

/*
Charles Schwab
#1aa9e2 - light blue
#33b3e5 - light blue
#005f83 - dark blue
*/

* {
  box-sizing: border-box;
  font-family: 'Fira Sans Condensed', sans-serif;
}

body {
  background: #fafafa;
  color: #383838;
  margin: 0 auto;
  max-width: 970px;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.5);
}

.name-container {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 153px;
  height: 40px;
  background-color: #96151d;
  color: white;
}

.nav-name {
  z-index: 9999;
  margin-left: 10px;
  font-size: 30px;
  text-decoration: none;
}

.nav-name:visited {
  color: inherit;
}

.nav-name:hover {
  background-color: white;
  padding-bottom: 5px;
  color: #96151d;
}

nav {
  position: fixed;
  top: 0;
  z-index: 9998;
  width: 100%;
  max-width: 970px;
  height: 40px;
  background-color: #96151d;
  color: white;
}

header {
  padding-top: 40px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #efece3;
  color: #773e00;
}

header h3 {
  margin: 5px 0px;
  font-weight: 400;
}

header h2 {
  margin: 5px 0px;
  font-weight: 400;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  margin: 0px;
}

nav li a {
  color: white;
}

li {
  list-style: none;
  flex-direction: row;
  padding: 0px 10px;
  color: inherit;
}

li a {
  text-decoration: none;
}

li a:visited {
  color: inherit;
}

nav li a:hover {
  padding: 12px 0px;
  background-color: white;
  color: #96151d;
}

#nav-name a:hover {
  padding: 5px 0px;
  background-color: white;
  color: #96151d;
}

#contact li a {
  color: #383838;
}

#contact li a:hover {
  background-color: white;
  color: black;
}

.section-container {
  padding-left: 10px;
}

.section-title {
  padding-top: 40px;
  color: #773e00;
}

#about {
  padding: 20px 20px;
  min-height: 560px;
  background-color: #103359;
  color: white;
}

.about-text {
  margin: 0;
  padding: 20px 20px;
  max-width: 500px;
  font-size: 30px;
}

#contact {
  background-color: #efece3;
}

#contact ul {
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

h2.section-title {
  margin-top: 0;
}

.header-name {
  margin: 0;
  display: none;
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fafafa;
  border-left: 1px solid #efece3;
  border-right: 1px solid #efece3;
}

.project {
  padding-left: 20px;
  margin-bottom: 150px;
}

.project-text {
  width: 50%;
}

.img-right {
  margin: 0 10px;
  max-width: 45%;
  float: right;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.5);
}

.terry-photo {
  min-width: 250px;
  max-height: 520px;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.5);
}

/*Settings for mobile*/
@media only screen and (max-width: 550px) {
  .name-container {
    display: none;
  }

  .header-name {
    display: block;
  }

  .img-right {
    display: block;
    margin: 10px 5px;
    max-width: 100%;
  }

  .terry-photo {
    margin-left: auto;
    margin-right: auto;
  }

  .about-text {
    font-size: 20px;
  }
}
